@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");

h1 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    margin-top: 5rem;
}

img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 15rem;
    border: 0.2rem solid #F58A07;
}

.gameDevItemsContainer {
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;    
    display: flex;
    width: 80%;
    height: 80%;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-bottom: 5rem;
}

.gameDevItem {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    text-align: center;
    background-color: #087E8B;
    padding: 2rem;
    width: 17rem;
    border-radius: 2rem;
    box-shadow: 5px 5px 2px #191a19;
    transition: transform, background-color, 0.2s ease-in-out;
    cursor: pointer;
}

.gameDevItem:hover {
    background-color: #F26419 ;
    transform: translateY(-10px);
}

.gameDevItem p {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 28px;
}

