@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");

h1 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 400;
    font-size: 48px;
}

.homepageHolder {
    margin-top: 8rem;
    animation: transIn 0.75s;
}

.homepageMainContent {
    display: flex;
    justify-content: center;
    padding: 0 10rem;
}

.profilePhotoHolder {
    flex: 1;
}

.profilePhoto {
    width: 50%;
    height: auto;
    border-radius: 100%;
    border: 0.3rem solid #F58A07;
    box-shadow: 3px 3px 3px #191a19;
    margin-left: 30%;
    margin-top: 5%;
}

.creatorInfo {
    flex: 1;
}

.description {
    background: linear-gradient(#087E8B, #087E8B) padding-box,
              linear-gradient(to right, #F58A07, #F26419) border-box;
    border-radius: 2rem;
    border: 3px solid transparent;
    width: 70%;
    font-size: 28px;
    padding: 1rem 2rem;
    border-radius: 2rem;
    position: relative;
    box-shadow: 3px 3px 3px #191a19;
}

.sections {
    display: flex;  
    flex-flow: row wrap;
    flex-wrap: wrap;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

.sectionLink {
    font-family: "Alegreya Sans SC", sans-serif;
    text-decoration: none;
    color: #f0eff4;
    font-size: 25px; 
    text-wrap: wrap;
    flex: 1;
    text-align: center;
    background-color: #087E8B;
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
    width: fit-content;
    padding: 3rem;
    border-radius: 10rem;
    box-shadow: 5px 5px 2px #191a19;
    position: relative;
    align-content: center;
    transition: transform, background-color, 200ms ease-in-out;
}

.sectionLink:hover {
    transform: translateY(-10px);
    background-color: #F26419;
}

@keyframes transIn {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@media (max-width: 1720px) {
    h1 {
        font-size: 40px;
    }

    .description {
        font-size: 22px;
    }
}

@media (max-width: 1310px) {
    h1 {
        font-size: 35px;
    }

    .profilePhoto {
        margin-top: 15%;
    }

    .description {
        font-size: 18px;
    }    

    .sectionLink {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        padding: 1rem;
    }
}

@media (max-width: 1000px) {
    h1 {
        text-align: center;
    }

    .homepageHolder {
        margin-top: 5rem;
    }

    .homepageMainContent {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .profilePhotoHolder {
        text-align: center;
    }

    .profilePhoto {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .creatorInfo {
        margin-left: auto;
        margin-right: auto;
    }

    .description {
        margin-left: auto;
        margin-right: auto;
    }

    .sections {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 3rem;
    }
}

@media (max-width: 590px) {
    .homepageHolder {
        margin-top: 3rem;
    }
}
