@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");


body {
    background-color: #2a2b2a;
    color: #f0eff4;
    font-family: "Roboto Condensed", sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #2a2b2a;
    box-shadow: 5px 5px 3px #191a19;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #2a2b2a;
    border-top:  0.05rem solid #191a19;
}

.logoLink {
    font-family: "Alegreya Sans SC", sans-serif;
    flex: 1;
    text-decoration: none;
    color: #f0eff4;
    font-size: 40px;
    padding: 0.2rem 1rem;
    margin-top: 0.4rem;
}

.logoText {
    padding: 0;
    margin: 0;
    transition: color 0.2s ease-out;
    width: 100%;
    text-align: left;
    position: relative;
    width: fit-content;
}

.logoText:hover {
    color: #F26419;
}

.logoText::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(#F26419, #F26419) padding-box;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 200ms ease-in-out;
}

.logoText:hover::before,
.logoText:focus::before {
    transform: scaleX(1);
} 

.navigation {
    flex: 2;
}

.navigationLinksHolder {
    display: flex;
    justify-content: flex-end;
    margin: 0.9rem;
}

.navLink {
    margin: auto;
    font-family: "Alegreya Sans SC", sans-serif;
    text-decoration: none;
    color: #f0eff4;
    font-size: 25px;    
    padding: 0.2rem 1rem;
    margin-right: 0.8rem;
    position: relative;
    transition: color 0.2s ease-out;
}

.navLink:hover {
    color: #F26419;
}

.navLink::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(#F26419, #F26419) padding-box;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 200ms ease-in-out;
}

.navLink:hover::before,
.navLink:focus::before {
    transform: scaleX(1);
} 

#currentPage {
    color: #F26419;
    position: relative;
}

#currentPage::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    z-index: 1;
    background: linear-gradient(#F26419, #F26419) padding-box;
}

.mobileNavigation {
    display: none;
}



@media (max-width: 1310px) {
    .navigationLinksHolder {
        display: none;
    }

    .burgerMenu {
        width: 2rem;
        height: 2rem;
        margin-left: auto;
        margin-top: 1vh;
        margin-right: 1rem;
        position: relative;
    }

    .burgerMenu span {
        height: 2px;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        transition: 0.3s ease;
        border-radius: 1rem;
    }

    .burgerMenu span:nth-child(1) {
        top: 25%
    }
    
    .burgerMenu span:nth-child(3) {
        top: 75%
    }

    .burgerMenu.open span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -45%) rotate(-135deg);
    }

    .burgerMenu.open span:nth-child(2) {
        opacity: 0;
    }

    .burgerMenu.open span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, 45%) rotate(135deg);
    }

    .mobileNavigation {
        height: 50vh;
        width: 100%;
        background-color: #2a2b2a;
        box-shadow: -3px 3px 3px #191a19;
        position: absolute;
        top: -50vh;
        left: 0;
        transition: all ease-in-out 0.3s;
        display: flex;
        flex-direction: column;
        z-index: -1;
    }

    .mobileNavigation a{
        margin-left: auto;
        margin-right: auto;
    }

    .mobileNavigation.open {
        height: 50vh;
        width: 100%;
        background-color: #2a2b2a;
        box-shadow: -3px 3px 3px #191a19;
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 3rem;
        transition: all ease-in-out 0.3s;
        display: flex;
        flex-direction: column;
        z-index: -1;
    }
}

@media (max-width: 780px) {
    .logoText {
        font-size: 30px;
    }
}

@media (max-width: 590px) {
    .logoText {
        font-size: 20px;
    }

    .burgerMenu {
        margin-top: 0.1vh;
    }

    .burgerMenu span {
        width: 80%;
    }
}

@media (max-width: 405px) {
    .logoText {
        font-size: 15px;
    }
}


